@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';

body {
  background-color: azure;
}
.banner.h2 {
  color: azure;
}
#note-area {
  min-height: 100px;
}
#app {
  margin-top: 50px;
}

